In [1]:
import pandas as pd
ebd = pd.read_excel('../data/EBD_new_2.xlsx')
bd = pd.read_excel('../data/BD_REGIST_no_remove3000.xlsx')
print('EBD 컬럼:', ebd.columns.tolist())
print('BD 컬럼:', bd.columns.tolist())

EBD 컬럼: ['SEQ_NO', 'RECAP_PK', '지역', '용도', '면적', '연면적', '냉난방면적', '기관유형', '코드번호', '기관명', '건축물명', '주소', '지상', '지하', '사용승인연도', '건축물 등록일', '연간 단위면적당 1차 에너지 소비량 3개년 평균', '연간 단위면적당 1차 에너지 소비량 3개년 평균 중간값', '간절기 대비 소비량 비율[(냉방월 +난방월)/간절기월] 3개년 평균', '간절기 대비 소비량 비율[(냉방월 +난방월)/간절기월] 2개년 평균', '간절기 대비 소비량 비율[(냉방월 +난방월)/간절기월] 1개년 평균', '전기 (KWH)', '가스 (KWH)', '지역냉난방 (KWH)', '유류 (KWH)', '기타 (KWH)', '건축물 시설관리자 이름', '건축물 시설관리자  연락처', '건축물 에너지사용량 입력자 이름', '건축물 에너지사용량 입력자 연락처', 'EUI(1차E/냉난방 면적)', 'EUI(1차E/연면적)']
BD 컬럼: ['RECAP_PK', 'BLD_TYPE_GB_CD', 'MGM_BLD_PK', 'MGM_UPPER_BLD_PK', 'REGSTR_GB_CD', 'REGSTR_KIND_CD', 'SIGUNGU_CD', 'BJDONG_CD', 'PLAT_GB_CD', 'BUN', 'JI', 'BLD_NM', 'DONG_NM', 'MAIN_ATCH_GB_CD', 'TOTAREA', 'MAIN_PURPS_CD', 'ETC_PURPS', 'USE_DATE', 'CYEAR', 'BLD_N', 'MULTI_YN', 'CYEAR_CD']

In [4]:
ebd['사용승인연도']

0       1971-04-21
1       1991-07-22
2       2004-11-10
3       1999-08-26
4       1987-11-09
           ...
4189    2012-12-17
4190    2012-12-17
4191    2012-12-17
4192    2012-12-17
4193    2012-12-17
Name: 사용승인연도, Length: 4194, dtype: object

In [5]:
bd['USE_DATE']

0        20080703.0
1               NaN
2               NaN
3        19981230.0
4               NaN
            ...
13707           NaN
13708    19990222.0
13709           NaN
13710           NaN
13711    20010110.0
Name: USE_DATE, Length: 13712, dtype: float64

In [ ]:
# EBD: '사용승인연도'를 datetime으로 변환 (형식이 YYYY-MM-DD이므로 format 지정)
ebd['사용승인연도'] = pd.to_datetime(ebd['사용승인연도'], format='%Y-%m-%d', errors='coerce')

# BD: 'USE_DATE'를 float에서 datetime으로 변환
# NaN 값은 pd.NaT로 처리합니다.
bd['USE_DATE'] = bd['USE_DATE'].apply(
    lambda x: pd.to_datetime(str(int(x)), format='%Y%m%d', errors='coerce') if pd.notnull(x) else pd.NaT
)

# 병합을 위해 두 컬럼을 동일한 문자열 형식으로 변경 (원한다면 datetime 그대로도 사용 가능)
ebd['사용승인연도'] = ebd['사용승인연도'].dt.strftime('%Y-%m-%d')
bd['USE_DATE'] = bd['USE_DATE'].dt.strftime('%Y-%m-%d')

EBD 데이터:
              SEQ_NO                      RECAP_PK     지역         용도  \
0                972                     11110-900  중부2지역       업무시설
1                974                     11110-900  중부2지역       업무시설
2                975                     11110-900  중부2지역       업무시설
3                976                     41480-189  중부1지역       업무시설
4               1861                           NaN  중부2지역  문화 및 집회시설
...              ...                           ...    ...        ...
4189  10000006164722  36110-1000000000000000571160  중부2지역       업무시설
4190  10000006164723  36110-1000000000000000571160  중부2지역       업무시설
4191  10000006164724  36110-1000000000000000571160  중부2지역       업무시설
4192  10000006164725  36110-1000000000000000571160  중부2지역       업무시설
4193  10000006164726  36110-1000000000000000571160  중부2지역       업무시설

                      면적       연면적     냉난방면적           기관유형       코드번호  \
0              10,000㎡이상  10787.40   9229.38  중앙행정기관 및 소속기관  2064-0133
1     5,000㎡이상~10,000㎡미만   5458.12   3160.21  중앙행정기관 및 소속기관  2063-0216
2      3,000㎡이상~5,000㎡미만   4949.30   1959.40  중앙행정기관 및 소속기관  2062-0276
3              10,000㎡이상  10615.97  10615.97  중앙행정기관 및 소속기관  1064-0132
4      3,000㎡이상~5,000㎡미만   4948.93   4948.93  중앙행정기관 및 소속기관  2012-0038
...                  ...       ...       ...            ...        ...
4189           10,000㎡이상  31242.00  22163.00  중앙행정기관 및 소속기관   2064-321
4190   3,000㎡이상~5,000㎡미만   4926.00   4212.00  중앙행정기관 및 소속기관   2062-393
4191           10,000㎡이상  40968.00  33589.00  중앙행정기관 및 소속기관   2064-322
4192           10,000㎡이상  54296.00  42726.00  중앙행정기관 및 소속기관   2064-323
4193           10,000㎡이상  67356.00  50261.00  중앙행정기관 및 소속기관   2064-324

                기관명  ...  가스 (KWH) 지역냉난방 (KWH)  유류 (KWH)  기타 (KWH)  \
0               감사원  ...  54.86564     0.00000       0.0       0.0
1               감사원  ...  36.55141     0.00000       0.0       0.0
2               감사원  ...  40.90859     0.00000       0.0       0.0
3               감사원  ...  13.93123     0.00000       0.0       0.0
4               교육부  ...  20.65369     0.00000       0.0       0.0
...             ...  ...       ...         ...       ...       ...
4189  정부청사관리본부 세종청사  ...   1.13149     6.75249       0.0       0.0
4190  정부청사관리본부 세종청사  ...   1.09970     5.60222       0.0       0.0
4191  정부청사관리본부 세종청사  ...   0.97920     5.84259       0.0       0.0
4192  정부청사관리본부 세종청사  ...   1.02030     6.08740       0.0       0.0
4193  정부청사관리본부 세종청사  ...   1.07603     6.41947       0.0       0.0

     건축물 시설관리자 이름 건축물 시설관리자  연락처 건축물 에너지사용량 입력자 이름  건축물 에너지사용량 입력자 연락처  \
0             정준혁   02-2011-3381               정준혁        02-2011-3381
1             정준혁   02-2011-3381               정준혁        02-2011-3381
2             정준혁   02-2011-3811               정준혁        02-2011-3381
3             박원호   031-940-8817               정준혁        02-2011-3381
4             윤성신   02-3400-5217               심흥선        02-3400-5216
...           ...            ...               ...                 ...
4189          최종기   044-200-3935               류호찬        044-200-1165
4190          최종기   044-200-3935               류호찬        044-200-1165
4191          최종기   044-200-3935               류호찬        044-200-1165
4192          최종기   044-200-3935               류호찬        044-200-1165
4193          최종기   044-200-3935               류호찬        044-200-1165

      EUI(1차E/냉난방 면적)  EUI(1차E/연면적)
0          283.969900    242.956237
1          191.768615    111.032571
2          281.736045    111.537714
3          168.999963    168.999963
4          106.599055    106.599055
...               ...           ...
4189       302.183727    214.368413
4190       250.885200    214.520597
4191       261.462055    214.368506
4192       272.418405    214.368439
4193       287.280638    214.368610

[4194 rows x 32 columns]

BD 데이터:
              RECAP_PK  BLD_TYPE_GB_CD       MGM_BLD_PK MGM_UPPER_BLD_PK  \
0      11110-100180009               1  11110-100180009              NaN
1      11110-100180042               1  11110-100184288  11110-100180042
2      11110-100180042               1  11110-100198315  11110-100180042
3      11110-100180042               1      11110-20680  11110-100180042
4      11110-100180042               1  11110-100184302  11110-100180042
...                ...             ...              ...              ...
13707      52800-18619               1      52800-18619              NaN
13708      52800-18620               1      52800-18620       52800-2254
13709        52800-209               1      52800-12836        52800-209
13710        52800-209               1      52800-12837        52800-209
13711       52800-4852               1       52800-4852              NaN

       REGSTR_GB_CD  REGSTR_KIND_CD  SIGUNGU_CD  BJDONG_CD  PLAT_GB_CD  BUN  \
0                 2               3       11110      16800           0    1
1                 1               2       11110      11900           0    1
2                 1               2       11110      11900           0    1
3                 1               2       11110      11900           0    1
4                 1               2       11110      11900           0    1
...             ...             ...         ...        ...         ...  ...
13707             1               2       52800      36021           0  313
13708             1               2       52800      36021           0  313
13709             1               2       52800      33022           0  313
13710             1               2       52800      33022           0  313
13711             1               2       52800      25022           0  455

       ...  DONG_NM MAIN_ATCH_GB_CD  TOTAREA  MAIN_PURPS_CD  \
0      ...      NaN             0.0  8585.08          05000
1      ...  건청궁 동행각             0.0    46.08          05000
2      ...   근정전 행각             0.0  2785.42          05000
3      ...      NaN             0.0   195.14          04000
4      ...      원길헌             0.0   118.61          05000
...    ...      ...             ...      ...            ...
13707  ...      NaN             1.0  2748.67          12000
13708  ...      NaN             1.0     7.72          12000
13709  ...      NaN             0.0    25.66          14000
13710  ...      NaN             0.0  3547.92          14000
13711  ...      NaN             0.0  6778.04          05000

                  ETC_PURPS    USE_DATE   CYEAR BLD_N  MULTI_YN  CYEAR_CD
0      문화및집회시설(근린생활시설,업무시설)  2008-07-03  2008.0     1         N      2014
1                   문화및집회시설         NaN     NaN   138         Y      2014
2                   문화및집회시설         NaN     NaN   138         Y      2014
3                    공공근린시설  1998-12-30  1998.0   138         Y      2014
4                   문화및집회시설         NaN     NaN   138         Y      2014
...                     ...         ...     ...   ...       ...       ...
13707               청소년수련시설         NaN     NaN     1         N      2014
13708              정화조(기계실)  1999-02-22  1999.0     1         N      2014
13709                  업무시설         NaN     NaN     2         Y      2014
13710                  업무시설         NaN     NaN     2         Y      2014
13711               문화및집회시설  2001-01-10  2001.0     1         N      2014

[13712 rows x 22 columns]

In [9]:

print("EBD 데이터:")
print(ebd['사용승인연도'])
print("\nBD 데이터:")
print(bd['USE_DATE'])

EBD 데이터:
0       1971-04-21
1       1991-07-22
2       2004-11-10
3       1999-08-26
4       1987-11-09
           ...
4189    2012-12-17
4190    2012-12-17
4191    2012-12-17
4192    2012-12-17
4193    2012-12-17
Name: 사용승인연도, Length: 4194, dtype: object

BD 데이터:
0        2008-07-03
1               NaN
2               NaN
3        1998-12-30
4               NaN
            ...
13707           NaN
13708    1999-02-22
13709           NaN
13710           NaN
13711    2001-01-10
Name: USE_DATE, Length: 13712, dtype: object

In [10]:
ebd.to_excel('../data/EBD_new_3.xlsx', index=False)
bd.to_excel('../data/BD_data_all.xlsx', index=False)

In [12]:
mismatch = bd[bd['RECAP_PK'] != bd['MGM_UPPER_BLD_PK']]

# 다른 행의 건수 출력
print("RECAP_PK와 MGM_UPPER_BLD_PK가 다른 행의 건수:", len(mismatch))

# (옵션) 다른 행들을 출력하고 싶다면:
mismatch['MGM_UPPER_BLD_PK'].describe()

RECAP_PK와 MGM_UPPER_BLD_PK가 다른 행의 건수: 3031

count                              706
unique                              83
top       27230-1000000000000000766837
freq                               116
Name: MGM_UPPER_BLD_PK, dtype: object

In [13]:

# ebd: EBD 데이터프레임 (컬럼: 'RECAP_PK', '연면적', '사용승인연도')
# bd: BD 데이터프레임 (컬럼: 'RECAP_PK', 'TOTAREA', 'USE_DATE')

# 두 데이터프레임을 RECAP_PK 기준으로 내부 조인하여 병합
merged = pd.merge(ebd, bd, on='RECAP_PK', suffixes=('_ebd', '_bd'))

# 조건 1: 연면적 일치 (EBD의 '연면적'과 BD의 'TOTAREA'가 동일)
match_area = merged['연면적'] == merged['TOTAREA']

# 조건 2: 승인일자 일치 (EBD의 '사용승인연도'와 BD의 'USE_DATE'가 동일)
match_date = merged['사용승인연도'] == merged['USE_DATE']

# 조건 3: 연면적과 승인일자 모두 일치
match_both = match_area & match_date

# 각 조건에 해당하는 건수 계산
count_area = match_area.sum()
count_date = match_date.sum()
count_both = match_both.sum()

print("동일한 RECAP 내에서 연면적이 일치하는 경우의 건수:", count_area)
print("동일한 RECAP 내에서 승인일자가 일치하는 경우의 건수:", count_date)
print("동일한 RECAP 내에서 연면적과 승인일자가 모두 일치하는 경우의 건수:", count_both)

동일한 RECAP 내에서 연면적이 일치하는 경우의 건수: 1735
동일한 RECAP 내에서 승인일자가 일치하는 경우의 건수: 7219
동일한 RECAP 내에서 연면적과 승인일자가 모두 일치하는 경우의 건수: 1543

In [14]:
# 이미 merged 데이터프레임이 있고,
# match_area와 match_both 조건이 아래와 같이 정의되었다고 가정합니다.
match_area = merged['연면적'] == merged['TOTAREA']
match_both = match_area & (merged['사용승인연도'] == merged['USE_DATE'])

# 1. match_both 행들이 match_area에 모두 포함되어 있는지 확인
subset_check = merged[match_both].index.isin(merged[match_area].index).all()
print("모든 '연면적과 승인일자 모두 일치' 행이 '연면적만 일치' 행에 포함되어 있는가?", subset_check)

# 2. '연면적만 일치' (match_area) 중 '연면적과 승인일자 모두 일치' (match_both)에 포함되지 않는 행 찾기
only_area_match = merged[match_area & ~match_both]
print("연면적만 일치하는 행 중 '연면적과 승인일자 모두 일치'에 포함되지 않는 행의 건수:", only_area_match.shape[0])

모든 '연면적과 승인일자 모두 일치' 행이 '연면적만 일치' 행에 포함되어 있는가? True
연면적만 일치하는 행 중 '연면적과 승인일자 모두 일치'에 포함되지 않는 행의 건수: 192
               SEQ_NO                      RECAP_PK     지역      용도  \
0                 972                     11110-900  중부2지역    업무시설
8                 974                     11110-900  중부2지역    업무시설
105             15440                  41115-173230  중부2지역    업무시설
173             20845                     51110-475  중부1지역    업무시설
280             34801                     51760-403  중부1지역    업무시설
...               ...                           ...    ...     ...
68441  10000000423938               11230-100185591  중부2지역    업무시설
68803  10000004384447               41480-100428157  중부1지역    업무시설
69162  10000004803211  27200-1000000000000001483139   남부지역  교육연구시설
69265  10000004803215  27200-1000000000000001483139   남부지역  교육연구시설
69266  10000004803234                   27200-18045   남부지역  교육연구시설

                       면적       연면적    냉난방면적           기관유형       코드번호  \
0               10,000㎡이상  10787.40  9229.38  중앙행정기관 및 소속기관  2064-0133
8      5,000㎡이상~10,000㎡미만   5458.12  3160.21  중앙행정기관 및 소속기관  2063-0216
105     3,000㎡이상~5,000㎡미만   4912.24  3523.77  중앙행정기관 및 소속기관  2062-0238
173    5,000㎡이상~10,000㎡미만   6074.46  5500.00    광역 및 지방자치단체  1063-0077
280    5,000㎡이상~10,000㎡미만   6480.98  6384.98    광역 및 지방자치단체  1063-0100
...                   ...       ...      ...            ...        ...
68441  5,000㎡이상~10,000㎡미만   6475.52  5737.00            교육청   2063-359
68803           10,000㎡이상  15986.31   560.13      지방공사 및 공단   1064-308
69162   3,000㎡이상~5,000㎡미만   4318.58  2419.20         국공립대학교   3042-303
69265   3,000㎡이상~5,000㎡미만   3919.28  3375.00         국공립대학교   3042-305
69266   3,000㎡이상~5,000㎡미만   3877.20  1776.00         국공립대학교   3042-306

                기관명  ...  DONG_NM MAIN_ATCH_GB_CD   TOTAREA  MAIN_PURPS_CD  \
0               감사원  ...      NaN             0.0  10787.40          14000
8               감사원  ...      NaN             0.0   5458.12          03000
105         경인지방우정청  ...      NaN             0.0   4912.24          03000
173         강원특별자치도  ...  A동 의회청사             0.0   6074.46          14000
280     강원특별자치도 평창군  ...      본관동             0.0   6480.98          14000
...             ...  ...      ...             ...       ...            ...
68441  서울특별시동부교육지원청  ...      NaN             0.0   6475.52          14000
68803      파주도시관광공사  ...       1동             0.0  15986.31          20000
69162       대구교육대학교  ...     상록동재             0.0   4318.58          10000
69265       대구교육대학교  ...      도서관             0.0   3919.28          10000
69266       대구교육대학교  ...      NaN             0.0   3877.20          10000

            ETC_PURPS    USE_DATE   CYEAR  BLD_N  MULTI_YN  CYEAR_CD
0              공공업무시설         NaN     NaN      5         Y      2014
8                공용시설         NaN     NaN      5         Y      2014
105         공공시설(우체국)  1994-01-04  1994.0      1         N      2014
173                청사  1992-01-02  1992.0     11         Y      2014
280              업무시설  1982-08-19  1982.0      6         Y      2014
...               ...         ...     ...    ...       ...       ...
68441          공공업무시설  2009-05-26  2009.0      1         N      2014
68803         자동차관련시설  2011-08-17  2011.0      2         Y      2014
69162          교육연구시설  2008-12-10  2008.0     24         Y      2014
69265          교육연구시설  2008-12-10  2008.0     24         Y      2014
69266  교육연구및복지시설(기숙사)  2003-11-25  2003.0      1         N      2014

[192 rows x 53 columns]

In [ ]:

only_area_match

,SEQ_NO,RECAP_PK,지역,용도,면적,연면적,냉난방면적,기관유형,코드번호,기관명,...,DONG_NM,MAIN_ATCH_GB_CD,TOTAREA,MAIN_PURPS_CD,ETC_PURPS,USE_DATE,CYEAR,BLD_N,MULTI_YN,CYEAR_CD
0,972,11110-900,중부2지역,업무시설,"10,000㎡이상",10787.40,9229.38,중앙행정기관 및 소속기관,2064-0133,감사원,...,NaN,0.0,10787.40,14000,공공업무시설,NaN,NaN,5,Y,2014
8,974,11110-900,중부2지역,업무시설,"5,000㎡이상~10,000㎡미만",5458.12,3160.21,중앙행정기관 및 소속기관,2063-0216,감사원,...,NaN,0.0,5458.12,03000,공용시설,NaN,NaN,5,Y,2014
105,15440,41115-173230,중부2지역,업무시설,"3,000㎡이상~5,000㎡미만",4912.24,3523.77,중앙행정기관 및 소속기관,2062-0238,경인지방우정청,...,NaN,0.0,4912.24,03000,공공시설(우체국),1994-01-04,1994.0,1,N,2014
173,20845,51110-475,중부1지역,업무시설,"5,000㎡이상~10,000㎡미만",6074.46,5500.00,광역 및 지방자치단체,1063-0077,강원특별자치도,...,A동 의회청사,0.0,6074.46,14000,청사,1992-01-02,1992.0,11,Y,2014
280,34801,51760-403,중부1지역,업무시설,"5,000㎡이상~10,000㎡미만",6480.98,6384.98,광역 및 지방자치단체,1063-0100,강원특별자치도 평창군,...,본관동,0.0,6480.98,14000,업무시설,1982-08-19,1982.0,6,Y,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68441,10000000423938,11230-100185591,중부2지역,업무시설,"5,000㎡이상~10,000㎡미만",6475.52,5737.00,교육청,2063-359,서울특별시동부교육지원청,...,NaN,0.0,6475.52,14000,공공업무시설,2009-05-26,2009.0,1,N,2014
68803,10000004384447,41480-100428157,중부1지역,업무시설,"10,000㎡이상",15986.31,560.13,지방공사 및 공단,1064-308,파주도시관광공사,...,1동,0.0,15986.31,20000,자동차관련시설,2011-08-17,2011.0,2,Y,2014
69162,10000004803211,27200-1000000000000001483139,남부지역,교육연구시설,"3,000㎡이상~5,000㎡미만",4318.58,2419.20,국공립대학교,3042-303,대구교육대학교,...,상록동재,0.0,4318.58,10000,교육연구시설,2008-12-10,2008.0,24,Y,2014
69265,10000004803215,27200-1000000000000001483139,남부지역,교육연구시설,"3,000㎡이상~5,000㎡미만",3919.28,3375.00,국공립대학교,3042-305,대구교육대학교,...,도서관,0.0,3919.28,10000,교육연구시설,2008-12-10,2008.0,24,Y,2014
69266,10000004803234,27200-18045,남부지역,교육연구시설,"3,000㎡이상~5,000㎡미만",3877.20,1776.00,국공립대학교,3042-306,대구교육대학교,...,NaN,0.0,3877.20,10000,교육연구및복지시설(기숙사),2003-11-25,2003.0,1,N,2014

In [17]:


# 승인일자가 NaN인 행 찾기 (둘 중 하나라도 NaN이면 해당)
approval_nan = only_area_match[only_area_match['사용승인연도'].isna() | only_area_match['USE_DATE'].isna()]

# 연면적이 NaN인 행 찾기 (둘 중 하나라도 NaN이면 해당)
area_nan = only_area_match[only_area_match['연면적'].isna() | only_area_match['TOTAREA'].isna()]

print("승인일자가 NaN인 행의 건수:", approval_nan.shape[0])
print("연면적이 NaN인 행의 건수:", area_nan.shape[0])

# 승인일자나 연면적에 NaN이 포함된 행들을 제외한 나머지 행 추출
non_nan = only_area_match[
    ~(only_area_match['사용승인연도'].isna() | 
      only_area_match['USE_DATE'].isna() | 
      only_area_match['연면적'].isna() | 
      only_area_match['TOTAREA'].isna())
]

print("NaN 제외 후 남은 행의 건수:", non_nan.shape[0])

승인일자가 NaN인 행의 건수: 87
연면적이 NaN인 행의 건수: 0
NaN 제외 후 남은 행의 건수: 105

In [19]:
non_nan[['RECAP_PK', '사용승인연도', 'USE_DATE', '연면적', 'TOTAREA']]

,RECAP_PK,사용승인연도,USE_DATE,연면적,TOTAREA
105,41115-173230,1999-10-18,1994-01-04,4912.24,4912.24
173,51110-475,1992-12-01,1992-01-02,6074.46,6074.46
280,51760-403,1982-07-23,1982-08-19,6480.98,6480.98
803,41210-9891,2006-06-27,2006-06-21,3208.51,3208.51
965,41220-1530,1996-11-22,1993-02-27,13914.91,13914.91
...,...,...,...,...,...
68441,11230-100185591,1992-09-30,2009-05-26,6475.52,6475.52
68803,41480-100428157,2011-08-18,2011-08-17,15986.31,15986.31
69162,27200-1000000000000001483139,1989-11-16,2008-12-10,4318.58,4318.58
69265,27200-1000000000000001483139,1977-06-30,2008-12-10,3919.28,3919.28
69266,27200-18045,2003-01-01,2003-11-25,3877.20,3877.20

In [21]:
import pandas as pd

# ebd와 bd 데이터프레임이 이미 로드되어 있다고 가정합니다.
# ebd: 'RECAP_PK' 컬럼을 포함한 EBD 데이터
# bd: 'RECAP_PK' 컬럼을 포함한 BD 데이터

# 1. RECAP_PK별 레코드 건수 계산
ebd_counts = ebd.groupby('RECAP_PK').size().reset_index(name='ebd_count')
bd_counts = bd.groupby('RECAP_PK').size().reset_index(name='bd_count')

# 2. 두 데이터의 RECAP_PK 건수 병합 (공통 RECAP_PK만 고려)
merged_counts = pd.merge(ebd_counts, bd_counts, on='RECAP_PK', how='inner')

# 3. ebd와 bd 각각 1건인 RECAP_PK 선택
single_case = merged_counts[(merged_counts['ebd_count'] == 1) & (merged_counts['bd_count'] == 1)]

print("동일 RECAP 중에 두 EBD, BD가 모두 1건인 경우의 건수:", single_case.shape[0])

동일 RECAP 중에 두 EBD, BD가 모두 1건인 경우의 건수: 1361

In [23]:

# 이미 병합된 merged DataFrame이 있고,
# merged에는 다음 컬럼이 있다고 가정합니다:
# 'RECAP_PK', '연면적', 'TOTAREA', '사용승인연도', 'USE_DATE'

# single_case는 RECAP_PK별 ebd, bd 각각 1건인 경우의 DataFrame
# 이 경우 single_case에는 'RECAP_PK' 컬럼만 있거나, RECAP_PK별 건수 정보만 있으므로,
# merged 데이터에서 single_case에 해당하는 RECAP_PK만 필터링합니다.
single_recaps = set(single_case['RECAP_PK'])
merged_single = merged[merged['RECAP_PK'].isin(single_recaps)]

# 조건 정의
area_match = merged_single['연면적'] == merged_single['TOTAREA']
date_match = merged_single['사용승인연도'] == merged_single['USE_DATE']
both_match = area_match & date_match

# 3가지 경우의 건수 산출
both_match_count = merged_single[both_match].shape[0]
area_only_count = merged_single[area_match & (~date_match)].shape[0]
date_only_count = merged_single[date_match & (~area_match)].shape[0]

print("단일 RECAP (EBD와 BD 각각 1건) 내 분석 결과:")
print("1. 연면적과 승인일자가 모두 일치하는 경우:", both_match_count, "건")
print("2. 연면적만 일치하는 경우 (승인일자 불일치):", area_only_count, "건")
print("3. 승인일자만 일치하는 경우 (연면적 불일치):", date_only_count, "건")

단일 RECAP (EBD와 BD 각각 1건) 내 분석 결과:
1. 연면적과 승인일자가 모두 일치하는 경우: 592 건
2. 연면적만 일치하는 경우 (승인일자 불일치): 32 건
3. 승인일자만 일치하는 경우 (연면적 불일치): 439 건

In [24]:


# --- Step 0. 데이터 병합 ---
# ebd, bd 데이터프레임은 이미 로드되어 있다고 가정합니다.
# 내부 조인을 사용하여 RECAP_PK 기준으로 병합
merged = pd.merge(ebd, bd, on='RECAP_PK', how='inner', suffixes=('_ebd', '_bd'))

# --- Step 1. 1차 매칭: 연면적과 승인일자가 모두 일치하는 경우 ---
# 조건: ebd의 '연면적' == bd의 'TOTAREA' 그리고 ebd의 '사용승인연도' == bd의 'USE_DATE'
match1 = (merged['연면적'] == merged['TOTAREA']) & (merged['사용승인연도'] == merged['USE_DATE'])
match1_df = merged[match1].copy()

# 동일 RECAP에서 여러 매칭이 있을 수 있으므로, RECAP_PK 기준 중복 제거
match1_df = match1_df.drop_duplicates(subset=['RECAP_PK'])
match1_count = match1_df.shape[0]
print("1차 매칭 (연면적, 승인일자 모두 일치) RECAP 건수:", match1_count)
# (예상: 1543건)

# RECAP_PK 리스트로 저장하여 이후 단계에서 제외
matched_recap_1 = set(match1_df['RECAP_PK'])

# --- Step 2. 2차 매칭: 1차 미매칭 중 연면적은 일치하는 경우 (승인일자 불일치) ---
# 먼저, 1차에서 매칭되지 않은 경우만 선택
unmatched = merged[~merged['RECAP_PK'].isin(matched_recap_1)].copy()

# 조건: 연면적 일치 && (승인일자 불일치 OR nan 포함)
# (승인일자 불일치를 판단할 때, 양쪽이 모두 nan이면 True로 보지 않도록 합니다.)
area_match = (unmatched['연면적'] == unmatched['TOTAREA'])
date_match = (unmatched['사용승인연도'] == unmatched['USE_DATE'])
match2_only = area_match & (~date_match)
match2_df = unmatched[match2_only].copy()

# RECAP_PK 기준 중복 제거
match2_df = match2_df.drop_duplicates(subset=['RECAP_PK'])
match2_count = match2_df.shape[0]
print("2차 매칭 (연면적 일치, 승인일자 불일치) RECAP 건수:", match2_count)
# (예상: 192건; nan값 포함된 경우도 있으므로 조건에 따라 달라질 수 있음)

# RECAP_PK 리스트 저장
matched_recap_2 = set(match2_df['RECAP_PK'])

# --- Step 3. 3차 매칭: 1차, 2차 매칭 제외 후, 원본에서 동일 RECAP 중 EBD와 BD가 1건씩 있는 경우 ---
# 먼저, 원본 ebd와 bd 데이터에서 RECAP_PK별 건수를 계산
ebd_counts = ebd.groupby('RECAP_PK').size().reset_index(name='ebd_count')
bd_counts  = bd.groupby('RECAP_PK').size().reset_index(name='bd_count')

# 두 건수 정보를 RECAP_PK 기준으로 병합
single_case = pd.merge(ebd_counts, bd_counts, on='RECAP_PK', how='inner')

# RECAP별 EBD와 BD 모두 1건인 경우 필터링
single_case = single_case[(single_case['ebd_count'] == 1) & (single_case['bd_count'] == 1)]
single_recap_set = set(single_case['RECAP_PK'])

# 1차, 2차 매칭에 포함되지 않은 RECAP 중, 단일 케이스에 해당하는 RECAP 선택
remaining = merged[~merged['RECAP_PK'].isin(matched_recap_1.union(matched_recap_2))].copy()
match3_df = remaining[remaining['RECAP_PK'].isin(single_recap_set)].copy()
match3_df = match3_df.drop_duplicates(subset=['RECAP_PK'])
match3_count = match3_df.shape[0]
print("3차 매칭 (동일 RECAP 중 EBD, BD 1건인 경우) RECAP 건수:", match3_count)

# --- 최종 매칭 결과 ---
total_matched = match1_count + match2_count + match3_count
print("최종 매칭 RECAP 건수 (1차 + 2차 + 3차):", total_matched)

1차 매칭 (연면적, 승인일자 모두 일치) RECAP 건수: 1038
2차 매칭 (연면적 일치, 승인일자 불일치) RECAP 건수: 96
3차 매칭 (동일 RECAP 중 EBD, BD 1건인 경우) RECAP 건수: 737
최종 매칭 RECAP 건수 (1차 + 2차 + 3차): 1871

In [34]:
duplicates = ebd[ebd['SEQ_NO'].duplicated(keep=False)]
print("중복된 SEQ_NO가 있는 행들:")
print(duplicates)

중복된 SEQ_NO가 있는 행들:
Empty DataFrame
Columns: [SEQ_NO, RECAP_PK, 지역, 용도, 면적, 연면적, 냉난방면적, 기관유형, 코드번호, 기관명, 건축물명, 주소, 지상, 지하, 사용승인연도, 건축물 등록일, 연간 단위면적당 1차 에너지 소비량 3개년 평균, 연간 단위면적당 1차 에너지 소비량 3개년 평균 중간값, 간절기 대비 소비량 비율[(냉방월 +난방월)/간절기월] 3개년 평균, 간절기 대비 소비량 비율[(냉방월 +난방월)/간절기월] 2개년 평균, 간절기 대비 소비량 비율[(냉방월 +난방월)/간절기월] 1개년 평균, 전기 (KWH), 가스 (KWH), 지역냉난방 (KWH), 유류 (KWH), 기타 (KWH), 건축물 시설관리자 이름, 건축물 시설관리자  연락처, 건축물 에너지사용량 입력자 이름, 건축물 에너지사용량 입력자 연락처, EUI(1차E/냉난방 면적), EUI(1차E/연면적)]
Index: []

[0 rows x 32 columns]

In [ ]:
import pandas as pd

# 가정: 
# ebd: EBD 데이터프레임 (컬럼: 'RECAP_PK', '연면적', '사용승인연도', ...)
# bd:  BD 데이터프레임 (컬럼: 'RECAP_PK', 'TOTAREA', 'USE_DATE', 'MGM_BLD_PK', ...)

# 만약 EBD에 고유 식별자가 없다면 인덱스를 활용하여 EBD_ID 생성
#ebd = ebd.reset_index().rename(columns={'index': 'EBD_ID'}) #생성했다고 가정

# --- Step 0. RECAP_PK를 기준으로 병합 ---
# 동일 RECAP에 해당하는 모든 EBD와 BD의 조합을 생성 (many-to-many join)
merged = pd.merge(ebd, bd, on='RECAP_PK', how='left',suffixes=('_ebd', '_bd'))

# --- Step 0-2. 원본 BD 데이터에서 RECAP별 BD 건수 구하기 (3차 매칭 조건 활용) ---
bd_counts = bd.groupby('RECAP_PK').size().to_dict()

# --- 매칭 함수 정의 ---
def match_candidate(group):
    """
    group: 동일한 EBD 레코드(EBD_ID)에 대해, 같은 RECAP 내 BD 후보들의 병합된 데이터
    순서대로 조건을 적용하여 매칭 후보를 선택:
      1. 1차: 연면적과 승인일자가 모두 일치하는 후보가 있으면 선택
      2. 2차: 1차 후보가 없으면, 연면적만 일치하는 후보가 있으면 선택
      3. 3차: 위 후보가 없고, 원본 BD 데이터에서 해당 RECAP의 BD 후보가 단 1건이면 선택
      4. 그 외에는 미매칭 처리 (이때, MGM_BLD_PK를 None으로 설정)
    """
    group = group.copy()
    # 1차 매칭: 연면적과 승인일자 모두 일치
    cond1 = (group['연면적'] == group['TOTAREA']) & (group['사용승인연도'] == group['USE_DATE'])
    if cond1.any():
        candidate = group[cond1].iloc[0]
        candidate['MATCH_STAGE'] = '1차'
        return candidate
    
    # 2차 매칭: 연면적만 일치 (승인일자는 불일치)
    cond2 = (group['연면적'] == group['TOTAREA'])
    if cond2.any():
        candidate = group[cond2].iloc[0]
        candidate['MATCH_STAGE'] = '2차'
        return candidate
    
    # 3차 매칭: 위 두 조건에 해당하는 후보가 없고, 원본 BD에서 해당 RECAP의 후보가 단 1건인 경우
    recap = group['RECAP_PK'].iloc[0]
    if bd_counts.get(recap, 0) == 1:
        candidate = group.iloc[0]
        candidate['match_stage'] = '3차'
        return candidate
    
    # 어느 조건에도 해당하지 않으면 미매칭 처리:
    candidate = group.iloc[0].copy()
    candidate['match_stage'] = '미매칭'
    candidate['MGM_BLD_PK'] = None  # 미매칭인 경우 BD 정보는 붙지 않도록 함
    return candidate


# --- Step 1. 각 EBD 레코드별 매칭 후보 선택 ---
# 그룹핑 기준: SEQ_NO 
matched_candidates = merged.groupby('SEQ_NO').apply(match_candidate).reset_index(drop=True)

# --- Step 2. 각 매칭 단계별 건수 확인 ---
stage_counts = matched_candidates['match_stage'].value_counts()
print("각 매칭 단계별 건수:")
print(stage_counts)

# --- 최종 매칭 결과 (필요한 컬럼만 선택) ---
final_matches = matched_candidates[['SEQ_NO', 'RECAP_PK', '연면적', '사용승인연도', 
                                    'TOTAREA', 'USE_DATE', 'MGM_BLD_PK', 'match_stage']]

# 예시: 상위 몇 건 출력
print(final_matches.head())

각 매칭 단계별 건수:
match_stage
1차     1539
미매칭    1465
3차      998
2차      192
Name: count, dtype: int64
   SEQ_NO   RECAP_PK       연면적      사용승인연도   TOTAREA    USE_DATE  MGM_BLD_PK  \
0     972  11110-900  10787.40  1971-04-21  10787.40         NaN  11110-2450
1     974  11110-900   5458.12  1991-07-22   5458.12         NaN  11110-2449
2     975  11110-900   4949.30  2004-11-10  10787.40         NaN        None
3     976  41480-189  10615.97  1999-08-26  10615.97  1999-08-26  41480-6265
4    1861        NaN   4948.93  1987-11-09       NaN         NaN        None

  match_stage
0          2차
1          2차
2         미매칭
3          1차
4         미매칭

C:\Users\HyeonPoong Lee\AppData\Local\Temp\ipykernel_21728\4010694052.py:58: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  matched_candidates = merged.groupby('SEQ_NO').apply(match_candidate).reset_index(drop=True)

In [41]:
final_matches

,SEQ_NO,RECAP_PK,연면적,사용승인연도,TOTAREA,USE_DATE,MGM_BLD_PK,match_stage
0,972,11110-900,10787.40,1971-04-21,10787.40,NaN,11110-2450,2차
1,974,11110-900,5458.12,1991-07-22,5458.12,NaN,11110-2449,2차
2,975,11110-900,4949.30,2004-11-10,10787.40,NaN,None,미매칭
3,976,41480-189,10615.97,1999-08-26,10615.97,1999-08-26,41480-6265,1차
4,1861,NaN,4948.93,1987-11-09,NaN,NaN,None,미매칭
...,...,...,...,...,...,...,...,...
4189,10000006164722,36110-1000000000000000571160,31242.00,2012-12-17,134489.31,2022-11-28,36110-1000000000000000571160,3차
4190,10000006164723,36110-1000000000000000571160,4926.00,2012-12-17,134489.31,2022-11-28,36110-1000000000000000571160,3차
4191,10000006164724,36110-1000000000000000571160,40968.00,2012-12-17,134489.31,2022-11-28,36110-1000000000000000571160,3차
4192,10000006164725,36110-1000000000000000571160,54296.00,2012-12-17,134489.31,2022-11-28,36110-1000000000000000571160,3차
4193,10000006164726,36110-1000000000000000571160,67356.00,2012-12-17,134489.31,2022-11-28,36110-1000000000000000571160,3차

In [42]:
merged

,SEQ_NO,RECAP_PK,지역,용도,면적,연면적,냉난방면적,기관유형,코드번호,기관명,...,DONG_NM,MAIN_ATCH_GB_CD,TOTAREA,MAIN_PURPS_CD,ETC_PURPS,USE_DATE,CYEAR,BLD_N,MULTI_YN,CYEAR_CD
0,972,11110-900,중부2지역,업무시설,"10,000㎡이상",10787.4,9229.38,중앙행정기관 및 소속기관,2064-0133,감사원,...,NaN,0.0,10787.40,14000,공공업무시설,NaN,NaN,5.0,Y,2014.0
1,972,11110-900,중부2지역,업무시설,"10,000㎡이상",10787.4,9229.38,중앙행정기관 및 소속기관,2064-0133,감사원,...,NaN,0.0,5304.91,14000,공공업무시설,NaN,NaN,5.0,Y,2014.0
2,972,11110-900,중부2지역,업무시설,"10,000㎡이상",10787.4,9229.38,중앙행정기관 및 소속기관,2064-0133,감사원,...,NaN,0.0,9030.35,14000,공공업무시설,2024-04-30,2024.0,5.0,Y,2024.0
3,972,11110-900,중부2지역,업무시설,"10,000㎡이상",10787.4,9229.38,중앙행정기관 및 소속기관,2064-0133,감사원,...,NaN,0.0,5458.12,03000,공용시설,NaN,NaN,5.0,Y,2014.0
4,972,11110-900,중부2지역,업무시설,"10,000㎡이상",10787.4,9229.38,중앙행정기관 및 소속기관,2064-0133,감사원,...,NaN,0.0,2122.28,04000,식당,NaN,NaN,5.0,Y,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69524,10000006164722,36110-1000000000000000571160,중부2지역,업무시설,"10,000㎡이상",31242.0,22163.00,중앙행정기관 및 소속기관,2064-321,정부청사관리본부 세종청사,...,NaN,0.0,134489.31,14000,업무시설(공공청사),2022-11-28,2022.0,1.0,N,2022.0
69525,10000006164723,36110-1000000000000000571160,중부2지역,업무시설,"3,000㎡이상~5,000㎡미만",4926.0,4212.00,중앙행정기관 및 소속기관,2062-393,정부청사관리본부 세종청사,...,NaN,0.0,134489.31,14000,업무시설(공공청사),2022-11-28,2022.0,1.0,N,2022.0
69526,10000006164724,36110-1000000000000000571160,중부2지역,업무시설,"10,000㎡이상",40968.0,33589.00,중앙행정기관 및 소속기관,2064-322,정부청사관리본부 세종청사,...,NaN,0.0,134489.31,14000,업무시설(공공청사),2022-11-28,2022.0,1.0,N,2022.0
69527,10000006164725,36110-1000000000000000571160,중부2지역,업무시설,"10,000㎡이상",54296.0,42726.00,중앙행정기관 및 소속기관,2064-323,정부청사관리본부 세종청사,...,NaN,0.0,134489.31,14000,업무시설(공공청사),2022-11-28,2022.0,1.0,N,2022.0
69528,10000006164726,36110-1000000000000000571160,중부2지역,업무시설,"10,000㎡이상",67356.0,50261.00,중앙행정기관 및 소속기관,2064-324,정부청사관리본부 세종청사,...,NaN,0.0,134489.31,14000,업무시설(공공청사),2022-11-28,2022.0,1.0,N,2022.0

In [43]:


# 가정: merged DataFrame은 EBD와 BD가 RECAP_PK 등으로 병합되어 있으며,
# EBD의 "기관명", BD의 "BLD_NM", BD의 "DONG_NM" 컬럼을 포함합니다.

# BLD_NM에 EBD 기관명이 포함되는지 확인 (NaN 방지)
count_in_bld_nm = merged.apply(
    lambda row: (pd.notnull(row['기관명']) and pd.notnull(row['BLD_NM']) and (row['기관명'] in row['BLD_NM'])),
    axis=1
).sum()

# DONG_NM에 EBD 기관명이 포함되는지 확인 (NaN 방지)
count_in_dong_nm = merged.apply(
    lambda row: (pd.notnull(row['기관명']) and pd.notnull(row['DONG_NM']) and (row['기관명'] in row['DONG_NM'])),
    axis=1
).sum()

print("EBD 기관명이 BD의 BLD_NM에 포함되는 건수:", count_in_bld_nm)
print("EBD 기관명이 BD의 DONG_NM에 포함되는 건수:", count_in_dong_nm)

EBD 기관명이 BD의 BLD_NM에 포함되는 건수: 13692
EBD 기관명이 BD의 DONG_NM에 포함되는 건수: 273

In [44]:

# 가정: merged DataFrame은 EBD와 BD가 RECAP_PK 등으로 병합되어 있으며,
# EBD의 "기관명", BD의 "BLD_NM", BD의 "DONG_NM" 컬럼을 포함합니다.

# BLD_NM에 EBD 기관명이 포함되는지 확인 (NaN 방지)
count_in_bld_nm = merged.apply(
    lambda row: (pd.notnull(row['건축물명']) and pd.notnull(row['BLD_NM']) and (row['건축물명'] in row['BLD_NM'])),
    axis=1
).sum()

# DONG_NM에 EBD 기관명이 포함되는지 확인 (NaN 방지)
count_in_dong_nm = merged.apply(
    lambda row: (pd.notnull(row['건축물명']) and pd.notnull(row['DONG_NM']) and (row['건축물명'] in row['DONG_NM'])),
    axis=1
).sum()

print("EBD 건축물명이 BD의 BLD_NM에 포함되는 건수:", count_in_bld_nm)
print("EBD 건축물명이 BD의 DONG_NM에 포함되는 건수:", count_in_dong_nm)

EBD 건축물명이 BD의 BLD_NM에 포함되는 건수: 1309
EBD 건축물명이 BD의 DONG_NM에 포함되는 건수: 693

In [45]:

# 가정: merged DataFrame은 EBD와 BD가 RECAP_PK 등으로 병합되어 있으며,
# EBD의 "기관명", BD의 "BLD_NM", BD의 "DONG_NM" 컬럼을 포함합니다.

# BLD_NM에 EBD 기관명이 포함되는지 확인 (NaN 방지)
count_in_bld_nm = merged.apply(
    lambda row: (pd.notnull(row['주소']) and pd.notnull(row['BLD_NM']) and (row['주소'] in row['BLD_NM'])),
    axis=1
).sum()

# DONG_NM에 EBD 기관명이 포함되는지 확인 (NaN 방지)
count_in_dong_nm = merged.apply(
    lambda row: (pd.notnull(row['주소']) and pd.notnull(row['DONG_NM']) and (row['주소'] in row['DONG_NM'])),
    axis=1
).sum()

print("EBD 건축물명이 BD의 BLD_NM에 포함되는 건수:", count_in_bld_nm)
print("EBD 건축물명이 BD의 DONG_NM에 포함되는 건수:", count_in_dong_nm)

EBD 건축물명이 BD의 BLD_NM에 포함되는 건수: 0
EBD 건축물명이 BD의 DONG_NM에 포함되는 건수: 0