In [65]:
import pandas as pd


info_file = r"..\result\merged_with_matching_info_new.xlsx"

info_TABLE = pd.read_excel(info_file)
info_TABLE

,SEQ_NO,RECAP_PK,연면적,사용승인연도,기관명,건축물명,주소,지상,지하,TOTAREA,...,온실가스 배출량(tCO2)_지역난방,온실가스 배출량(tCO2)_유류,온실가스 배출량(tCO2)_기타,온실가스 배출량(tCO2)_총계,공공건축물_PK,관리_건축물_유형,건축물_구분,건축물_종류,에너지공급기관코드,에너지고유번호
0,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927674
1,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927576
2,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927567
3,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927889
4,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1200300000,301709203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25861,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1262822,1,1,2,1100100000,921302930
25862,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1264703,1,1,2,1100100000,921302930
25863,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1264705,1,1,2,1100100000,921302930
25864,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1264727,1,1,2,1100100000,921302930
25865,3393012,41463-89071,5765.38,1985-12-22,서울특별시,서울시립용인정신병원,경기도 용인시 기흥구 상하동 7-1,5.0,1.0,5849.66,...,0.000000,0.000000,0.0,0.000000,3393012,1,1,2,1100100000,234832642

In [66]:
info_TABLE['MGM_BLD_PK'].nunique()

1657

In [67]:
info_TABLE.columns

Index(['SEQ_NO', 'RECAP_PK', '연면적', '사용승인연도', '기관명', '건축물명', '주소', '지상', '지하',
       'TOTAREA', 'BLD_NM', 'DONG_NM', 'USE_DATE', 'MGM_BLD_PK', 'MATCH_STAGE',
       '비고', 'EBD_COUNT', 'BD_COUNT', 'EBD_OVER_BD', 'MATCH_TOKEN_COUNT',
       'ebd_unified_tokens', '건축물명_tokens', '주소_tokens', 'BLD_NM_tokens',
       'DONG_NM_tokens', 'MATCHED_BLD_TOKENS', 'MATCHED_DONG_TOKENS', '건축물ID',
       '단위면적당 1차 E사용량_전기 (KWH)', '단위면적당 1차 E사용량_가스 (KWH)',
       '단위면적당 1차 E사용량_지역냉난방 (KWH)', '단위면적당 1차 E사용량_유류 (KWH)',
       '단위면적당 1차 E사용량_기타 (KWH)', 'EUI(1차E/냉난방 면적)', 'EUI(1차E/연면적)', '준공년도',
       'E사용량 (kWh)_전기 (KWH)', 'E사용량 (kWh)_가스 (KWH)', 'E사용량 (kWh)_지역냉난방 (KWH)',
       'E사용량 (kWh)_유류 (KWH)', 'E사용량 (kWh)_기타 (KWH)', 'E사용량 (toe)_전기 (toe)',
       'E사용량 (toe)_가스 (toe)', 'E사용량 (toe)_지역냉난방 (toe)', 'E사용량 (toe)_유류 (toe)',
       'E사용량 (toe)_기타 (toe)', '온실가스 배출량(tCO2)_전기', '온실가스 배출량(tCO2)_가스',
       '온실가스 배출량(tCO2)_지역난방', '온실가스 배출량(tCO2)_유류', '온실가스 배출량(tCO2)_기타',
       '온실가스 배출량(tCO2)_총계', '공공건축물_PK', '관리_건축물_유형', '건축물_구분', '건축물_종류',
       '에너지공급기관코드', '에너지고유번호'],
      dtype='object')

In [68]:
info_TABLE['에너지고유번호'].nunique()

12838

In [69]:

info_TABLE['에너지고유번호'].value_counts()

에너지고유번호
1860000000000     1500
10101000000000     972
2070020000000      104
2000704666          54
1717180625          49
                  ...
1026212990           1
522365057            1
526041050            1
1210522823           1
1210522824           1
Name: count, Length: 12838, dtype: int64

In [70]:
import pandas as pd


usage_file = r"..\result\사용량정보_23.csv"

usage_23 = pd.read_csv(usage_file)
usage_23

,00000002663380,1200300000,00000000000302819125,202301,1,20230101,20230131,21,149646.42,08
0,356783,1100100000,135164346,202301,1,20221211.0,20230110.0,2.0,29098.0000,1
1,48582,1201000000,6102702925,202301,1,NaN,NaN,10.0,68761.6832,8
2,1532559,1100100000,230050841,202301,1,20221225.0,20230124.0,10.0,281704.0000,1
3,5195130,1100100000,926366362,202301,1,20221219.0,20230118.0,2.0,92.0000,1
4,455908,1100100000,302032592,202301,1,20221212.0,20230111.0,8.0,230.0000,1
...,...,...,...,...,...,...,...,...,...,...
2477568,5212035,1100100000,928098381,202312,1,20231201.0,20231231.0,2.0,142.0000,1
2477569,5212126,1100100000,928098381,202312,1,20231201.0,20231231.0,2.0,142.0000,1
2477570,5212128,1100100000,928098381,202312,1,20231201.0,20231231.0,2.0,142.0000,1
2477571,60867,1100100000,1127378353,202312,1,20231201.0,20231231.0,2.0,110.0000,1
2477572,203236,1100100000,1713950338,202312,1,20231108.0,20231207.0,3.0,52487.0000,1

In [71]:
# 컬럼명 리스트 정의
columns = [
    'SEQ_NO',
    'ENGY_SPLY_KIK_CD',
    'ENGY_ESNCNO',
    'USE_YM',
    'USE_QTY_SEQNO',
    'USE_STRT_DAY',
    'USE_END_DAY',
    'USE_PURPS_CD',
    'USE_QTY',
    'UNIT_CD'
]
usage_file = r"..\result\사용량정보_23.csv"

usage_23 = pd.read_csv(usage_file, header=None)
usage_23

,0,1,2,3,4,5,6,7,8,9
0,2663380,1200300000,302819125,202301,1,20230101.0,20230131.0,21.0,149646.4200,8
1,356783,1100100000,135164346,202301,1,20221211.0,20230110.0,2.0,29098.0000,1
2,48582,1201000000,6102702925,202301,1,NaN,NaN,10.0,68761.6832,8
3,1532559,1100100000,230050841,202301,1,20221225.0,20230124.0,10.0,281704.0000,1
4,5195130,1100100000,926366362,202301,1,20221219.0,20230118.0,2.0,92.0000,1
...,...,...,...,...,...,...,...,...,...,...
2477569,5212035,1100100000,928098381,202312,1,20231201.0,20231231.0,2.0,142.0000,1
2477570,5212126,1100100000,928098381,202312,1,20231201.0,20231231.0,2.0,142.0000,1
2477571,5212128,1100100000,928098381,202312,1,20231201.0,20231231.0,2.0,142.0000,1
2477572,60867,1100100000,1127378353,202312,1,20231201.0,20231231.0,2.0,110.0000,1
2477573,203236,1100100000,1713950338,202312,1,20231108.0,20231207.0,3.0,52487.0000,1

In [72]:

# 컬럼명 지정
usage_23.columns = columns

# 수정된 데이터프레임을 CSV 파일로 저장
usage_23.to_csv('사용량정보_23.csv', index=False)

# 데이터 확인
print("데이터 미리보기:")
print(usage_23.head())

# 데이터 기본 정보 확인
print("\n데이터 정보:")
print(usage_23.info())

데이터 미리보기:
    SEQ_NO  ENGY_SPLY_KIK_CD  ENGY_ESNCNO  USE_YM  USE_QTY_SEQNO  \
0  2663380        1200300000    302819125  202301              1
1   356783        1100100000    135164346  202301              1
2    48582        1201000000   6102702925  202301              1
3  1532559        1100100000    230050841  202301              1
4  5195130        1100100000    926366362  202301              1

   USE_STRT_DAY  USE_END_DAY  USE_PURPS_CD      USE_QTY  UNIT_CD
0    20230101.0   20230131.0          21.0  149646.4200        8
1    20221211.0   20230110.0           2.0   29098.0000        1
2           NaN          NaN          10.0   68761.6832        8
3    20221225.0   20230124.0          10.0  281704.0000        1
4    20221219.0   20230118.0           2.0      92.0000        1

데이터 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2477574 entries, 0 to 2477573
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   SEQ_NO            int64
 1   ENGY_SPLY_KIK_CD  int64
 2   ENGY_ESNCNO       int64
 3   USE_YM            int64
 4   USE_QTY_SEQNO     int64
 5   USE_STRT_DAY      float64
 6   USE_END_DAY       float64
 7   USE_PURPS_CD      float64
 8   USE_QTY           float64
 9   UNIT_CD           int64
dtypes: float64(4), int64(6)
memory usage: 189.0 MB
None

In [73]:
usage_23

,SEQ_NO,ENGY_SPLY_KIK_CD,ENGY_ESNCNO,USE_YM,USE_QTY_SEQNO,USE_STRT_DAY,USE_END_DAY,USE_PURPS_CD,USE_QTY,UNIT_CD
0,2663380,1200300000,302819125,202301,1,20230101.0,20230131.0,21.0,149646.4200,8
1,356783,1100100000,135164346,202301,1,20221211.0,20230110.0,2.0,29098.0000,1
2,48582,1201000000,6102702925,202301,1,NaN,NaN,10.0,68761.6832,8
3,1532559,1100100000,230050841,202301,1,20221225.0,20230124.0,10.0,281704.0000,1
4,5195130,1100100000,926366362,202301,1,20221219.0,20230118.0,2.0,92.0000,1
...,...,...,...,...,...,...,...,...,...,...
2477569,5212035,1100100000,928098381,202312,1,20231201.0,20231231.0,2.0,142.0000,1
2477570,5212126,1100100000,928098381,202312,1,20231201.0,20231231.0,2.0,142.0000,1
2477571,5212128,1100100000,928098381,202312,1,20231201.0,20231231.0,2.0,142.0000,1
2477572,60867,1100100000,1127378353,202312,1,20231201.0,20231231.0,2.0,110.0000,1
2477573,203236,1100100000,1713950338,202312,1,20231108.0,20231207.0,3.0,52487.0000,1

In [74]:
info_TABLE['에너지고유번호'].value_counts()

에너지고유번호
1860000000000     1500
10101000000000     972
2070020000000      104
2000704666          54
1717180625          49
                  ...
1026212990           1
522365057            1
526041050            1
1210522823           1
1210522824           1
Name: count, Length: 12838, dtype: int64

In [75]:
info_TABLE

,SEQ_NO,RECAP_PK,연면적,사용승인연도,기관명,건축물명,주소,지상,지하,TOTAREA,...,온실가스 배출량(tCO2)_지역난방,온실가스 배출량(tCO2)_유류,온실가스 배출량(tCO2)_기타,온실가스 배출량(tCO2)_총계,공공건축물_PK,관리_건축물_유형,건축물_구분,건축물_종류,에너지공급기관코드,에너지고유번호
0,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927674
1,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927576
2,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927567
3,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927889
4,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1200300000,301709203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25861,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1262822,1,1,2,1100100000,921302930
25862,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1264703,1,1,2,1100100000,921302930
25863,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1264705,1,1,2,1100100000,921302930
25864,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1264727,1,1,2,1100100000,921302930
25865,3393012,41463-89071,5765.38,1985-12-22,서울특별시,서울시립용인정신병원,경기도 용인시 기흥구 상하동 7-1,5.0,1.0,5849.66,...,0.000000,0.000000,0.0,0.000000,3393012,1,1,2,1100100000,234832642

In [76]:
usage_23['ENGY_ESNCNO'].nunique()

43615

In [77]:


usage_23['ENGY_ESNCNO'].value_counts()

ENGY_ESNCNO
950512        2205
2000704666     648
547102757      594
547058038      594
5445075        588
              ...
346114518        1
443219562        1
160728986        1
160880524        1
1031123774       1
Name: count, Length: 43615, dtype: int64

In [78]:
merged_df = pd.merge(
    info_TABLE[['에너지고유번호']],
    usage_23[['ENGY_ESNCNO']],
    left_on='에너지고유번호',
    right_on='ENGY_ESNCNO',
    how='inner'
)

# 1. 총 일치하는 레코드 수 확인
total_matches = len(merged_df)
print("총 일치하는 레코드 수:", total_matches)

# 2. 각 고윳값 별 중복(매칭) 건수 확인
value_counts = merged_df['에너지고유번호'].value_counts()
print("\n각 에너지고유번호의 매칭 건수:")
print(value_counts)

총 일치하는 레코드 수: 2534703

각 에너지고유번호의 매칭 건수:
에너지고유번호
2000704666    34992
1717180625    28812
1718894210    28812
6002878       28812
5829725       28812
              ...
547549295         1
2001120102        1
160800040         1
547549339         1
547524089         1
Name: count, Length: 9653, dtype: int64

In [79]:
merged_df['ENGY_ESNCNO'].nunique()

9653

In [80]:
merged_df['에너지고유번호'].nunique()

9653

In [81]:
merged_df

            에너지고유번호  ENGY_ESNCNO
0        1007927674   1007927674
1        1007927674   1007927674
2        1007927674   1007927674
3        1007927674   1007927674
4        1007927674   1007927674
...             ...          ...
2534698   234832642    234832642
2534699   234832642    234832642
2534700   234832642    234832642
2534701   234832642    234832642
2534702   234832642    234832642

[2534703 rows x 2 columns]

In [82]:
info_TABLE

,SEQ_NO,RECAP_PK,연면적,사용승인연도,기관명,건축물명,주소,지상,지하,TOTAREA,...,온실가스 배출량(tCO2)_지역난방,온실가스 배출량(tCO2)_유류,온실가스 배출량(tCO2)_기타,온실가스 배출량(tCO2)_총계,공공건축물_PK,관리_건축물_유형,건축물_구분,건축물_종류,에너지공급기관코드,에너지고유번호
0,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927674
1,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927576
2,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927567
3,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1100100000,1007927889
4,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.20,...,51.105555,0.194113,0.0,345.543762,6284466,1,1,2,1200300000,301709203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25861,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1262822,1,1,2,1100100000,921302930
25862,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1264703,1,1,2,1100100000,921302930
25863,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1264705,1,1,2,1100100000,921302930
25864,1262815,48170-1089,4065.80,1994-07-30,경상국립대학교,18동 공학1호관(칠암동),경상남도 진주시 칠암동 150-1외3필지,5.0,1.0,4065.80,...,0.000000,0.000000,0.0,91.016201,1264727,1,1,2,1100100000,921302930
25865,3393012,41463-89071,5765.38,1985-12-22,서울특별시,서울시립용인정신병원,경기도 용인시 기흥구 상하동 7-1,5.0,1.0,5849.66,...,0.000000,0.000000,0.0,0.000000,3393012,1,1,2,1100100000,234832642

In [83]:
info_TABLE[["SEQ_NO", "MGM_BLD_PK", "E사용량 (kWh)_전기 (KWH)", "E사용량 (kWh)_가스 (KWH)", "E사용량 (kWh)_지역냉난방 (KWH)"]]

,SEQ_NO,MGM_BLD_PK,E사용량 (kWh)_전기 (KWH),E사용량 (kWh)_가스 (KWH),E사용량 (kWh)_지역냉난방 (KWH)
0,6284466,41287-231300,591315.973080,120258.11721,238505.00443
1,6284466,41287-231300,591315.973080,120258.11721,238505.00443
2,6284466,41287-231300,591315.973080,120258.11721,238505.00443
3,6284466,41287-231300,591315.973080,120258.11721,238505.00443
4,6284466,41287-231300,591315.973080,120258.11721,238505.00443
...,...,...,...,...,...
25861,1262815,48170-7540,199291.003785,0.00000,0.00000
25862,1262815,48170-7540,199291.003785,0.00000,0.00000
25863,1262815,48170-7540,199291.003785,0.00000,0.00000
25864,1262815,48170-7540,199291.003785,0.00000,0.00000
25865,3393012,41463-89071,0.000000,0.00000,0.00000

In [84]:


# 두 데이터프레임 병합: info_TABLE의 "에너지 고유 번호"와 usage_23의 "ENGY_ESNCNO"를 기준으로 left join 진행
result_1 = pd.merge(
    info_TABLE,
    usage_23, 
    left_on='에너지고유번호', 
    right_on='ENGY_ESNCNO', 
    how='left'
)

# 결과 미리보기
result_1.head()

,SEQ_NO_x,RECAP_PK,연면적,사용승인연도,기관명,건축물명,주소,지상,지하,TOTAREA,...,SEQ_NO_y,ENGY_SPLY_KIK_CD,ENGY_ESNCNO,USE_YM,USE_QTY_SEQNO,USE_STRT_DAY,USE_END_DAY,USE_PURPS_CD,USE_QTY,UNIT_CD
0,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.2,...,6284466.0,1.100100e+09,1.007928e+09,202301.0,1.0,20221217.0,20230116.0,7.0,45.0,1.0
1,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.2,...,6284466.0,1.100100e+09,1.007928e+09,202302.0,1.0,20230117.0,20230216.0,7.0,0.0,1.0
2,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.2,...,6284466.0,1.100100e+09,1.007928e+09,202303.0,1.0,20230217.0,20230316.0,7.0,20.0,1.0
3,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.2,...,6284466.0,1.100100e+09,1.007928e+09,202304.0,1.0,20230317.0,20230416.0,7.0,0.0,1.0
4,6284466,41287-226841,13668.94,1991-12-31,한국장애인고용공단,일산직업능력개발원,"경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...",3.0,0.0,2128.2,...,6284466.0,1.100100e+09,1.007928e+09,202305.0,1.0,20230417.0,20230516.0,7.0,0.0,1.0

In [86]:
# SEQ_NO_y를 제거하고 SEQ_NO_x를 SEQ_NO로 변경
result_1 = result_1.drop('SEQ_NO_y', axis=1)
result_1 = result_1.rename(columns={'SEQ_NO_x': 'SEQ_NO'})
result_1.columns

Index(['SEQ_NO', 'RECAP_PK', '연면적', '사용승인연도', '기관명', '건축물명', '주소', '지상', '지하',
       'TOTAREA', 'BLD_NM', 'DONG_NM', 'USE_DATE', 'MGM_BLD_PK', 'MATCH_STAGE',
       '비고', 'EBD_COUNT', 'BD_COUNT', 'EBD_OVER_BD', 'MATCH_TOKEN_COUNT',
       'ebd_unified_tokens', '건축물명_tokens', '주소_tokens', 'BLD_NM_tokens',
       'DONG_NM_tokens', 'MATCHED_BLD_TOKENS', 'MATCHED_DONG_TOKENS', '건축물ID',
       '단위면적당 1차 E사용량_전기 (KWH)', '단위면적당 1차 E사용량_가스 (KWH)',
       '단위면적당 1차 E사용량_지역냉난방 (KWH)', '단위면적당 1차 E사용량_유류 (KWH)',
       '단위면적당 1차 E사용량_기타 (KWH)', 'EUI(1차E/냉난방 면적)', 'EUI(1차E/연면적)', '준공년도',
       'E사용량 (kWh)_전기 (KWH)', 'E사용량 (kWh)_가스 (KWH)', 'E사용량 (kWh)_지역냉난방 (KWH)',
       'E사용량 (kWh)_유류 (KWH)', 'E사용량 (kWh)_기타 (KWH)', 'E사용량 (toe)_전기 (toe)',
       'E사용량 (toe)_가스 (toe)', 'E사용량 (toe)_지역냉난방 (toe)', 'E사용량 (toe)_유류 (toe)',
       'E사용량 (toe)_기타 (toe)', '온실가스 배출량(tCO2)_전기', '온실가스 배출량(tCO2)_가스',
       '온실가스 배출량(tCO2)_지역난방', '온실가스 배출량(tCO2)_유류', '온실가스 배출량(tCO2)_기타',
       '온실가스 배출량(tCO2)_총계', '공공건축물_PK', '관리_건축물_유형', '건축물_구분', '건축물_종류',
       '에너지공급기관코드', '에너지고유번호', 'ENGY_SPLY_KIK_CD', 'ENGY_ESNCNO', 'USE_YM',
       'USE_QTY_SEQNO', 'USE_STRT_DAY', 'USE_END_DAY', 'USE_PURPS_CD',
       'USE_QTY', 'UNIT_CD'],
      dtype='object')

In [88]:
# 두 변수의 일치 여부 확인
print("SEQ_NO와 건축물ID가 일치하는지 확인:")
print((result_1['SEQ_NO'] == result_1['건축물ID']).all())

# 두 변수의 값 비교
print("\nSEQ_NO와 건축물ID의 값 비교:")
print(result_1[['SEQ_NO','건축물ID']].head(10))

# 불일치하는 경우 확인
print("\n불일치하는 경우:")
mismatch = result_1[result_1['SEQ_NO'] != result_1['건축물ID']]
print(mismatch[['SEQ_NO','건축물ID']].head())

SEQ_NO와 건축물ID가 일치하는지 확인:
True

SEQ_NO와 건축물ID의 값 비교:
    SEQ_NO    건축물ID
0  6284466  6284466
1  6284466  6284466
2  6284466  6284466
3  6284466  6284466
4  6284466  6284466
5  6284466  6284466
6  6284466  6284466
7  6284466  6284466
8  6284466  6284466
9  6284466  6284466

불일치하는 경우:
Empty DataFrame
Columns: [SEQ_NO, 건축물ID]
Index: []

In [93]:
# 에너지고유번호의 고유값 개수 출력
print("에너지고유번호 고유값 개수:", result_1['에너지고유번호'].nunique())

# 결측치가 있는 행 출력
print("\n결측치가 있는 행:")
print(result_1[result_1['에너지고유번호'].isna()])

에너지고유번호 고유값 개수: 12838

결측치가 있는 행:
Empty DataFrame
Columns: [SEQ_NO, RECAP_PK, 연면적, 사용승인연도, 기관명, 건축물명, 주소, 지상, 지하, TOTAREA, BLD_NM, DONG_NM, USE_DATE, MGM_BLD_PK, MATCH_STAGE, 비고, EBD_COUNT, BD_COUNT, EBD_OVER_BD, MATCH_TOKEN_COUNT, ebd_unified_tokens, 건축물명_tokens, 주소_tokens, BLD_NM_tokens, DONG_NM_tokens, MATCHED_BLD_TOKENS, MATCHED_DONG_TOKENS, 건축물ID, 단위면적당 1차 E사용량_전기 (KWH), 단위면적당 1차 E사용량_가스 (KWH), 단위면적당 1차 E사용량_지역냉난방 (KWH), 단위면적당 1차 E사용량_유류 (KWH), 단위면적당 1차 E사용량_기타 (KWH), EUI(1차E/냉난방 면적), EUI(1차E/연면적), 준공년도, E사용량 (kWh)_전기 (KWH), E사용량 (kWh)_가스 (KWH), E사용량 (kWh)_지역냉난방 (KWH), E사용량 (kWh)_유류 (KWH), E사용량 (kWh)_기타 (KWH), E사용량 (toe)_전기 (toe), E사용량 (toe)_가스 (toe), E사용량 (toe)_지역냉난방 (toe), E사용량 (toe)_유류 (toe), E사용량 (toe)_기타 (toe), 온실가스 배출량(tCO2)_전기, 온실가스 배출량(tCO2)_가스, 온실가스 배출량(tCO2)_지역난방, 온실가스 배출량(tCO2)_유류, 온실가스 배출량(tCO2)_기타, 온실가스 배출량(tCO2)_총계, 공공건축물_PK, 관리_건축물_유형, 건축물_구분, 건축물_종류, 에너지공급기관코드, 에너지고유번호, ENGY_SPLY_KIK_CD, ENGY_ESNCNO, USE_YM, USE_QTY_SEQNO, USE_STRT_DAY, USE_END_DAY, USE_PURPS_CD, USE_QTY, UNIT_CD, ENGY_type]
Index: []

[0 rows x 68 columns]

In [94]:
# ENGY_ESNCNO의 고유값 개수 출력
print("ENGY_ESNCNO 고유값 개수:", result_1['ENGY_ESNCNO'].nunique())

# ENGY_ESNCNO에 결측치가 있는 행 출력
print("\nENGY_ESNCNO 결측치가 있는 행:")
print(result_1[result_1['ENGY_ESNCNO'].isna()])

ENGY_ESNCNO 고유값 개수: 9653

ENGY_ESNCNO 결측치가 있는 행:
                 SEQ_NO         RECAP_PK        연면적     사용승인연도        기관명  \
36              6284466     41287-226841  13668.940 1991-12-31  한국장애인고용공단
311             6284466     41287-226841  13668.940 1991-12-31  한국장애인고용공단
396             6284466     41287-226841  13668.940 1991-12-31  한국장애인고용공단
712             6284466     41287-226841  13668.940 1991-12-31  한국장애인고용공단
963      10000001153362  48330-100176730   3977.000 2008-04-24    양산교육지원청
...                 ...              ...        ...        ...        ...
2530503         6284467      27290-15739  10325.000 2002-07-30  한국장애인고용공단
2530700          360736      11470-11705  16856.400 1992-10-15  서울특별시 양천구
2540865           11824      26230-15847   4963.915 1984-04-06   국민건강보험공단
2540866           11824      26230-15847   4963.915 1984-04-06   국민건강보험공단
2540867           11824      26230-15847   4963.915 1984-04-06   국민건강보험공단

              건축물명                                                 주소   지상  \
36       일산직업능력개발원  경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...  3.0
311      일산직업능력개발원  경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...  3.0
396      일산직업능력개발원  경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...  3.0
712      일산직업능력개발원  경기도 고양시 일산서구 탄현로 155(탄현동 111-14번지, 일산직업능력개발센터 ...  3.0
963        양산교육지원청                 경상남도 양산시 청룡로 53(물금읍 범어리 940-5번지 )   3.0
...            ...                                                ...  ...
2530503  대구직업능력개발원  대구광역시 달서구 장산남로 11(용산동 230-9번지, 대구직업전문학교 ) 대구직업...  4.0
2530700      양천구청사                               서울특별시 양천구 신정6동 321-4  8.0
2540865     부산진구지사                              부산광역시 부산지구 전포동 874-14  6.0
2540866     부산진구지사                              부산광역시 부산지구 전포동 874-14  6.0
2540867     부산진구지사                              부산광역시 부산지구 전포동 874-14  6.0

          지하    TOTAREA  ... ENGY_SPLY_KIK_CD ENGY_ESNCNO USE_YM  \
36       0.0   2128.200  ...              NaN         NaN    NaN
311      0.0   2128.200  ...              NaN         NaN    NaN
396      0.0   2128.200  ...              NaN         NaN    NaN
712      0.0   2128.200  ...              NaN         NaN    NaN
963      0.0   3977.090  ...              NaN         NaN    NaN
...      ...        ...  ...              ...         ...    ...
2530503  1.0  10325.480  ...              NaN         NaN    NaN
2530700  2.0  16856.400  ...              NaN         NaN    NaN
2540865  1.0   4963.915  ...              NaN         NaN    NaN
2540866  1.0   4963.915  ...              NaN         NaN    NaN
2540867  1.0   4963.915  ...              NaN         NaN    NaN

        USE_QTY_SEQNO USE_STRT_DAY USE_END_DAY  USE_PURPS_CD  USE_QTY UNIT_CD  \
36                NaN          NaN         NaN           NaN      NaN     NaN
311               NaN          NaN         NaN           NaN      NaN     NaN
396               NaN          NaN         NaN           NaN      NaN     NaN
712               NaN          NaN         NaN           NaN      NaN     NaN
963               NaN          NaN         NaN           NaN      NaN     NaN
...               ...          ...         ...           ...      ...     ...
2530503           NaN          NaN         NaN           NaN      NaN     NaN
2530700           NaN          NaN         NaN           NaN      NaN     NaN
2540865           NaN          NaN         NaN           NaN      NaN     NaN
2540866           NaN          NaN         NaN           NaN      NaN     NaN
2540867           NaN          NaN         NaN           NaN      NaN     NaN

         ENGY_type
36            <NA>
311           <NA>
396           <NA>
712           <NA>
963           <NA>
...            ...
2530503       <NA>
2530700       <NA>
2540865       <NA>
2540866       <NA>
2540867       <NA>

[7657 rows x 68 columns]

In [91]:
# ENGY_SPLY_KIK_CD의 앞 두 자리를 추출하여 숫자로 변환하고, nullable 정수형(Int64)으로 캐스팅
result_1['ENGY_type'] = pd.to_numeric(
    result_1['ENGY_SPLY_KIK_CD'].astype(str).str[:2], errors='coerce'
).astype('Int64')

# 결과 확인
print(result_1[['ENGY_SPLY_KIK_CD', 'ENGY_type']].head())

   ENGY_SPLY_KIK_CD  ENGY_type
0      1.100100e+09         11
1      1.100100e+09         11
2      1.100100e+09         11
3      1.100100e+09         11
4      1.100100e+09         11

In [92]:
result_1['ENGY_type'].value_counts()

ENGY_type
12    1287429
11     975797
13     271477
Name: count, dtype: Int64

In [95]:
result_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542360 entries, 0 to 2542359
Data columns (total 68 columns):
 #   Column                     Dtype
---  ------                     -----
 0   SEQ_NO                     int64
 1   RECAP_PK                   object
 2   연면적                        float64
 3   사용승인연도                     datetime64[ns]
 4   기관명                        object
 5   건축물명                       object
 6   주소                         object
 7   지상                         float64
 8   지하                         float64
 9   TOTAREA                    float64
 10  BLD_NM                     object
 11  DONG_NM                    object
 12  USE_DATE                   object
 13  MGM_BLD_PK                 object
 14  MATCH_STAGE                object
 15  비고                         object
 16  EBD_COUNT                  int64
 17  BD_COUNT                   int64
 18  EBD_OVER_BD                object
 19  MATCH_TOKEN_COUNT          float64
 20  ebd_unified_tokens         object
 21  건축물명_tokens                object
 22  주소_tokens                  object
 23  BLD_NM_tokens              object
 24  DONG_NM_tokens             object
 25  MATCHED_BLD_TOKENS         object
 26  MATCHED_DONG_TOKENS        object
 27  건축물ID                      int64
 28  단위면적당 1차 E사용량_전기 (KWH)     float64
 29  단위면적당 1차 E사용량_가스 (KWH)     float64
 30  단위면적당 1차 E사용량_지역냉난방 (KWH)  float64
 31  단위면적당 1차 E사용량_유류 (KWH)     float64
 32  단위면적당 1차 E사용량_기타 (KWH)     float64
 33  EUI(1차E/냉난방 면적)            float64
 34  EUI(1차E/연면적)               float64
 35  준공년도                       int64
 36  E사용량 (kWh)_전기 (KWH)        float64
 37  E사용량 (kWh)_가스 (KWH)        float64
 38  E사용량 (kWh)_지역냉난방 (KWH)     float64
 39  E사용량 (kWh)_유류 (KWH)        float64
 40  E사용량 (kWh)_기타 (KWH)        float64
 41  E사용량 (toe)_전기 (toe)        float64
 42  E사용량 (toe)_가스 (toe)        float64
 43  E사용량 (toe)_지역냉난방 (toe)     float64
 44  E사용량 (toe)_유류 (toe)        float64
 45  E사용량 (toe)_기타 (toe)        float64
 46  온실가스 배출량(tCO2)_전기          float64
 47  온실가스 배출량(tCO2)_가스          float64
 48  온실가스 배출량(tCO2)_지역난방        float64
 49  온실가스 배출량(tCO2)_유류          float64
 50  온실가스 배출량(tCO2)_기타          float64
 51  온실가스 배출량(tCO2)_총계          float64
 52  공공건축물_PK                   int64
 53  관리_건축물_유형                  int64
 54  건축물_구분                     int64
 55  건축물_종류                     int64
 56  에너지공급기관코드                  int64
 57  에너지고유번호                    int64
 58  ENGY_SPLY_KIK_CD           float64
 59  ENGY_ESNCNO                float64
 60  USE_YM                     float64
 61  USE_QTY_SEQNO              float64
 62  USE_STRT_DAY               float64
 63  USE_END_DAY                float64
 64  USE_PURPS_CD               float64
 65  USE_QTY                    float64
 66  UNIT_CD                    float64
 67  ENGY_type                  Int64
dtypes: Int64(1), datetime64[ns](1), float64(37), int64(11), object(18)
memory usage: 1.3+ GB

In [122]:
result_1[["ENGY_ESNCNO", "UNIT_CD", "SEQ_NO", "MGM_BLD_PK", "E사용량 (kWh)_전기 (KWH)", "E사용량 (kWh)_가스 (KWH)", "E사용량 (kWh)_지역냉난방 (KWH)","USE_YM"]]

,ENGY_ESNCNO,UNIT_CD,SEQ_NO,MGM_BLD_PK,E사용량 (kWh)_전기 (KWH),E사용량 (kWh)_가스 (KWH),E사용량 (kWh)_지역냉난방 (KWH),USE_YM
0,1.007928e+09,1.0,6284466,41287-231300,591315.97308,120258.11721,238505.00443,202301.0
1,1.007928e+09,1.0,6284466,41287-231300,591315.97308,120258.11721,238505.00443,202302.0
2,1.007928e+09,1.0,6284466,41287-231300,591315.97308,120258.11721,238505.00443,202303.0
3,1.007928e+09,1.0,6284466,41287-231300,591315.97308,120258.11721,238505.00443,202304.0
4,1.007928e+09,1.0,6284466,41287-231300,591315.97308,120258.11721,238505.00443,202305.0
...,...,...,...,...,...,...,...,...
2542355,2.348326e+08,1.0,3393012,41463-89071,0.00000,0.00000,0.00000,202308.0
2542356,2.348326e+08,1.0,3393012,41463-89071,0.00000,0.00000,0.00000,202309.0
2542357,2.348326e+08,1.0,3393012,41463-89071,0.00000,0.00000,0.00000,202310.0
2542358,2.348326e+08,1.0,3393012,41463-89071,0.00000,0.00000,0.00000,202311.0
2542359,2.348326e+08,1.0,3393012,41463-89071,0.00000,0.00000,0.00000,202312.0

In [98]:
result_1.columns

Index(['SEQ_NO', 'RECAP_PK', '연면적', '사용승인연도', '기관명', '건축물명', '주소', '지상', '지하',
       'TOTAREA', 'BLD_NM', 'DONG_NM', 'USE_DATE', 'MGM_BLD_PK', 'MATCH_STAGE',
       '비고', 'EBD_COUNT', 'BD_COUNT', 'EBD_OVER_BD', 'MATCH_TOKEN_COUNT',
       'ebd_unified_tokens', '건축물명_tokens', '주소_tokens', 'BLD_NM_tokens',
       'DONG_NM_tokens', 'MATCHED_BLD_TOKENS', 'MATCHED_DONG_TOKENS', '건축물ID',
       '단위면적당 1차 E사용량_전기 (KWH)', '단위면적당 1차 E사용량_가스 (KWH)',
       '단위면적당 1차 E사용량_지역냉난방 (KWH)', '단위면적당 1차 E사용량_유류 (KWH)',
       '단위면적당 1차 E사용량_기타 (KWH)', 'EUI(1차E/냉난방 면적)', 'EUI(1차E/연면적)', '준공년도',
       'E사용량 (kWh)_전기 (KWH)', 'E사용량 (kWh)_가스 (KWH)', 'E사용량 (kWh)_지역냉난방 (KWH)',
       'E사용량 (kWh)_유류 (KWH)', 'E사용량 (kWh)_기타 (KWH)', 'E사용량 (toe)_전기 (toe)',
       'E사용량 (toe)_가스 (toe)', 'E사용량 (toe)_지역냉난방 (toe)', 'E사용량 (toe)_유류 (toe)',
       'E사용량 (toe)_기타 (toe)', '온실가스 배출량(tCO2)_전기', '온실가스 배출량(tCO2)_가스',
       '온실가스 배출량(tCO2)_지역난방', '온실가스 배출량(tCO2)_유류', '온실가스 배출량(tCO2)_기타',
       '온실가스 배출량(tCO2)_총계', '공공건축물_PK', '관리_건축물_유형', '건축물_구분', '건축물_종류',
       '에너지공급기관코드', '에너지고유번호', 'ENGY_SPLY_KIK_CD', 'ENGY_ESNCNO', 'USE_YM',
       'USE_QTY_SEQNO', 'USE_STRT_DAY', 'USE_END_DAY', 'USE_PURPS_CD',
       'USE_QTY', 'UNIT_CD', 'ENGY_type'],
      dtype='object')

In [99]:
result_1['ENGY_type'].value_counts()

ENGY_type
12    1287429
11     975797
13     271477
Name: count, dtype: Int64

In [100]:
result_1['UNIT_CD'].value_counts()

UNIT_CD
8.0    1287357
1.0     975797
3.0     271138
4.0        303
2.0         72
6.0         36
Name: count, dtype: int64

In [102]:
aggregated_df = result_1.groupby(
    ["ENGY_ESNCNO", "UNIT_CD", "ENGY_type"], as_index=False
).agg({
    "USE_QTY": "sum",
    "SEQ_NO": "first",    # 그룹 내 첫번째 값을 사용 (한 에너지 고유번호당 값이 동일하므로)
    "MGM_BLD_PK": "first",
    "E사용량 (kWh)_전기 (KWH)": "first",       # 그룹 내 첫번째 값을 사용
    "E사용량 (kWh)_가스 (KWH)": "first",        # 그룹 내 첫번째 값을 사용
    "E사용량 (kWh)_지역냉난방 (KWH)": "first"    # 그룹 내 첫번째 값을 사용
})

aggregated_df

,ENGY_ESNCNO,UNIT_CD,ENGY_type,USE_QTY,SEQ_NO,MGM_BLD_PK,E사용량 (kWh)_전기 (KWH),E사용량 (kWh)_가스 (KWH),E사용량 (kWh)_지역냉난방 (KWH)
0,4.000000e+00,3.0,13,4.911600e+02,5334976,44810-100214543,2.132705e+06,1.272160e+05,415847.427460
1,2.900000e+01,6.0,13,2.502800e+05,774699,41370-100175872,6.545150e+05,0.000000e+00,194127.570240
2,4.600000e+01,3.0,13,2.986600e+02,2473583,30200-100177670,2.063007e+06,1.430016e+04,498261.633811
3,4.600000e+01,6.0,13,5.885000e+05,2473583,30200-100177670,2.063007e+06,1.430016e+04,498261.633811
4,5.900000e+01,6.0,13,1.048700e+06,6284469,30230-10947,6.254510e+05,9.668293e+04,887896.396000
...,...,...,...,...,...,...,...,...,...
9649,6.104511e+09,8.0,12,3.609187e+04,4443068,28177-17939,2.161598e+06,1.971172e+06,0.000000
9650,6.104511e+09,8.0,12,1.972469e+04,603578,41192-100192071,4.993679e+05,6.170120e+05,0.000000
9651,1.276963e+10,8.0,12,1.109863e+06,4091378,31200-7813,1.330900e+05,2.208885e+05,0.000000
9652,1.590026e+10,8.0,12,2.014162e+06,4101590,31140-9248,2.188815e+06,3.338372e+04,0.000000
9653,1.613630e+10,8.0,12,0.000000e+00,4103049,31140-9259,1.573293e+06,5.388625e+06,0.000000

In [1]:
aggregated_df['ENGY_ESNCNO'].value_counts()

NameError: name 'aggregated_df' is not defined

In [104]:
# 확인할 컬럼 목록 정의
columns_to_check = [
    "SEQ_NO", 
    "MGM_BLD_PK", 
    "E사용량 (kWh)_전기 (KWH)", 
    "E사용량 (kWh)_가스 (KWH)", 
    "E사용량 (kWh)_지역냉난방 (KWH)"
]

# 그룹화 (ENGY_ESNCNO, UNIT_CD, ENGY_type 기준)
grouped = result_1.groupby(["ENGY_ESNCNO", "UNIT_CD", "ENGY_type"])

# 그룹별로 각 컬럼에 대한 고유값 개수를 계산
nunique_df = grouped[columns_to_check].nunique().reset_index()

# 그룹 내 값들이 모두 동일해야 하는데, 값의 고유 개수가 1보다 큰 그룹 찾기
inconsistent_groups = nunique_df[
    (nunique_df["SEQ_NO"] > 1) |
    (nunique_df["MGM_BLD_PK"] > 1) |
    (nunique_df["E사용량 (kWh)_전기 (KWH)"] > 1) |
    (nunique_df["E사용량 (kWh)_가스 (KWH)"] > 1) |
    (nunique_df["E사용량 (kWh)_지역냉난방 (KWH)"] > 1)
]

# 결과 출력
print("일관성이 맞지 않은 그룹 수:", len(inconsistent_groups))
print(inconsistent_groups)

일관성이 맞지 않은 그룹 수: 0
Empty DataFrame
Columns: [ENGY_ESNCNO, UNIT_CD, ENGY_type, SEQ_NO, MGM_BLD_PK, E사용량 (kWh)_전기 (KWH), E사용량 (kWh)_가스 (KWH), E사용량 (kWh)_지역냉난방 (KWH)]
Index: []

In [108]:
aggregated_df['ENGY_type'].value_counts()

ENGY_type
11    6685
12    2813
13     156
Name: count, dtype: Int64

In [113]:
# 피벗을 위한 인덱스 목록 (필요한 값들을 포함)
index_cols = ["ENGY_ESNCNO", "UNIT_CD", "SEQ_NO", "MGM_BLD_PK", "E사용량 (kWh)_전기 (KWH)", "E사용량 (kWh)_가스 (KWH)", "E사용량 (kWh)_지역냉난방 (KWH)"]

# aggregated_df를 ENGY_type(11,12,13)에 따라 USE_QTY 값을 피벗하여 새로운 데이터프레임 생성
pivot_df = aggregated_df.pivot(index=index_cols, columns="ENGY_type", values="USE_QTY").reset_index()

# 피벗된 컬럼 (에너지 타입)이 숫자로 되어있으므로, 이를 USE_QTY_11, USE_QTY_12, USE_QTY_13으로 이름 변경
pivot_df = pivot_df.rename(columns={
    11: 'USE_QTY_11',
    12: 'USE_QTY_12',
    13: 'USE_QTY_13'
})


# 결과 확인
pivot_df

ENGY_type,ENGY_ESNCNO,UNIT_CD,SEQ_NO,MGM_BLD_PK,E사용량 (kWh)_전기 (KWH),E사용량 (kWh)_가스 (KWH),E사용량 (kWh)_지역냉난방 (KWH),USE_QTY_11,USE_QTY_12,USE_QTY_13
0,4.000000e+00,3.0,5334976,44810-100214543,2.132705e+06,1.272160e+05,415847.427460,NaN,NaN,491.16
1,2.900000e+01,6.0,774699,41370-100175872,6.545150e+05,0.000000e+00,194127.570240,NaN,NaN,250280.00
2,4.600000e+01,3.0,2473583,30200-100177670,2.063007e+06,1.430016e+04,498261.633811,NaN,NaN,298.66
3,4.600000e+01,6.0,2473583,30200-100177670,2.063007e+06,1.430016e+04,498261.633811,NaN,NaN,588500.00
4,5.900000e+01,6.0,6284469,30230-10947,6.254510e+05,9.668293e+04,887896.396000,NaN,NaN,1048700.00
...,...,...,...,...,...,...,...,...,...,...
9649,6.104511e+09,8.0,4443068,28177-17939,2.161598e+06,1.971172e+06,0.000000,NaN,3.609187e+04,NaN
9650,6.104511e+09,8.0,603578,41192-100192071,4.993679e+05,6.170120e+05,0.000000,NaN,1.972469e+04,NaN
9651,1.276963e+10,8.0,4091378,31200-7813,1.330900e+05,2.208885e+05,0.000000,NaN,1.109863e+06,NaN
9652,1.590026e+10,8.0,4101590,31140-9248,2.188815e+06,3.338372e+04,0.000000,NaN,2.014162e+06,NaN
9653,1.613630e+10,8.0,4103049,31140-9259,1.573293e+06,5.388625e+06,0.000000,NaN,0.000000e+00,NaN

In [109]:
pivot_df[pivot_df['USE_QTY_11'].notna()]

ENGY_type,ENGY_ESNCNO,UNIT_CD,SEQ_NO,MGM_BLD_PK,E사용량 (kWh)_전기 (KWH),E사용량 (kWh)_가스 (KWH),E사용량 (kWh)_지역냉난방 (KWH),USE_QTY_11,USE_QTY_12,USE_QTY_13
1005,1.000045e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,437597.0,NaN,NaN
1006,1.000332e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,784.0,NaN,NaN
1007,1.000348e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,504.0,NaN,NaN
1008,1.000461e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,36492.0,NaN,NaN
1009,1.000508e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,8528.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8643,1.719441e+09,1.0,205225,51820-100181368,5.864410e+05,0.000000e+00,0.000,1109.0,NaN,NaN
8644,1.719447e+09,1.0,381460,51110-100231221,1.481570e+05,7.498345e+05,0.000,676.0,NaN,NaN
8645,1.719463e+09,1.0,321371,51110-23799,1.930230e+05,0.000000e+00,0.000,738.0,NaN,NaN
8646,1.719542e+09,1.0,205029,51110-100217233,1.579883e+06,2.264937e+06,0.000,1309.0,NaN,NaN
8647,1.719591e+09,1.0,501437,51110-14540,7.078330e+05,1.509114e+04,0.000,361.0,NaN,NaN

In [114]:
pivot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9654 entries, 0 to 9653
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ENGY_ESNCNO             9654 non-null   float64
 1   UNIT_CD                 9654 non-null   float64
 2   SEQ_NO                  9654 non-null   int64
 3   MGM_BLD_PK              9654 non-null   object
 4   E사용량 (kWh)_전기 (KWH)     9654 non-null   float64
 5   E사용량 (kWh)_가스 (KWH)     9654 non-null   float64
 6   E사용량 (kWh)_지역냉난방 (KWH)  9654 non-null   float64
 7   USE_QTY_11              6685 non-null   float64
 8   USE_QTY_12              2813 non-null   float64
 9   USE_QTY_13              156 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 754.3+ KB

In [115]:
pivot_df.describe()

ENGY_type,ENGY_ESNCNO,UNIT_CD,SEQ_NO,E사용량 (kWh)_전기 (KWH),E사용량 (kWh)_가스 (KWH),E사용량 (kWh)_지역냉난방 (KWH),USE_QTY_11,USE_QTY_12,USE_QTY_13
count,9.654000e+03,9654.000000,9.654000e+03,9.654000e+03,9.654000e+03,9.654000e+03,6.685000e+03,2.813000e+03,1.560000e+02
mean,8.991974e+08,3.071059,1.601439e+11,1.661020e+06,6.440153e+05,5.432201e+04,5.315784e+06,7.250243e+07,7.699903e+04
std,1.423322e+09,3.168614,1.253129e+12,9.859946e+06,2.609525e+06,3.120206e+05,3.170753e+08,5.824242e+08,3.145074e+05
min,4.000000e+00,1.000000,4.233000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-7.391756e+04,0.000000e+00
25%,1.508148e+08,1.000000,5.161032e+05,3.252570e+05,0.000000e+00,0.000000e+00,1.368000e+03,4.391900e+04,1.592225e+02
50%,3.344048e+08,1.000000,3.273039e+06,6.305451e+05,1.648690e+05,0.000000e+00,8.317000e+03,2.221070e+05,3.824150e+02
75%,1.022215e+09,8.000000,5.413133e+06,1.207422e+06,5.037367e+05,0.000000e+00,6.683400e+04,1.010538e+06,9.362000e+02
max,1.613630e+10,8.000000,1.000000e+13,4.302760e+08,1.085609e+08,4.376406e+06,2.513413e+10,1.260863e+10,2.627040e+06

In [118]:
# result 폴더 아래에 엑셀 파일로 저장
pivot_df.to_excel(r'../result/pivot_df.xlsx', index=False)
pivot_df

ENGY_type,ENGY_ESNCNO,UNIT_CD,SEQ_NO,MGM_BLD_PK,E사용량 (kWh)_전기 (KWH),E사용량 (kWh)_가스 (KWH),E사용량 (kWh)_지역냉난방 (KWH),USE_QTY_11,USE_QTY_12,USE_QTY_13
0,4.000000e+00,3.0,5334976,44810-100214543,2.132705e+06,1.272160e+05,415847.427460,NaN,NaN,491.16
1,2.900000e+01,6.0,774699,41370-100175872,6.545150e+05,0.000000e+00,194127.570240,NaN,NaN,250280.00
2,4.600000e+01,3.0,2473583,30200-100177670,2.063007e+06,1.430016e+04,498261.633811,NaN,NaN,298.66
3,4.600000e+01,6.0,2473583,30200-100177670,2.063007e+06,1.430016e+04,498261.633811,NaN,NaN,588500.00
4,5.900000e+01,6.0,6284469,30230-10947,6.254510e+05,9.668293e+04,887896.396000,NaN,NaN,1048700.00
...,...,...,...,...,...,...,...,...,...,...
9649,6.104511e+09,8.0,4443068,28177-17939,2.161598e+06,1.971172e+06,0.000000,NaN,3.609187e+04,NaN
9650,6.104511e+09,8.0,603578,41192-100192071,4.993679e+05,6.170120e+05,0.000000,NaN,1.972469e+04,NaN
9651,1.276963e+10,8.0,4091378,31200-7813,1.330900e+05,2.208885e+05,0.000000,NaN,1.109863e+06,NaN
9652,1.590026e+10,8.0,4101590,31140-9248,2.188815e+06,3.338372e+04,0.000000,NaN,2.014162e+06,NaN
9653,1.613630e+10,8.0,4103049,31140-9259,1.573293e+06,5.388625e+06,0.000000,NaN,0.000000e+00,NaN

In [116]:
pivot_kwh=pivot_df[pivot_df['UNIT_CD']==1]
pivot_kwh

ENGY_type,ENGY_ESNCNO,UNIT_CD,SEQ_NO,MGM_BLD_PK,E사용량 (kWh)_전기 (KWH),E사용량 (kWh)_가스 (KWH),E사용량 (kWh)_지역냉난방 (KWH),USE_QTY_11,USE_QTY_12,USE_QTY_13
1005,1.000045e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,437597.0,NaN,NaN
1006,1.000332e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,784.0,NaN,NaN
1007,1.000348e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,504.0,NaN,NaN
1008,1.000461e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,36492.0,NaN,NaN
1009,1.000508e+07,1.0,5704586,44131-100235376,3.573184e+05,0.000000e+00,149055.213,8528.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8643,1.719441e+09,1.0,205225,51820-100181368,5.864410e+05,0.000000e+00,0.000,1109.0,NaN,NaN
8644,1.719447e+09,1.0,381460,51110-100231221,1.481570e+05,7.498345e+05,0.000,676.0,NaN,NaN
8645,1.719463e+09,1.0,321371,51110-23799,1.930230e+05,0.000000e+00,0.000,738.0,NaN,NaN
8646,1.719542e+09,1.0,205029,51110-100217233,1.579883e+06,2.264937e+06,0.000,1309.0,NaN,NaN
8647,1.719591e+09,1.0,501437,51110-14540,7.078330e+05,1.509114e+04,0.000,361.0,NaN,NaN

In [117]:
pivot_kwh.describe()

ENGY_type,ENGY_ESNCNO,UNIT_CD,SEQ_NO,E사용량 (kWh)_전기 (KWH),E사용량 (kWh)_가스 (KWH),E사용량 (kWh)_지역냉난방 (KWH),USE_QTY_11,USE_QTY_12,USE_QTY_13
count,6.685000e+03,6685.0,6.685000e+03,6.685000e+03,6.685000e+03,6.685000e+03,6.685000e+03,0.0,0.0
mean,5.445417e+08,1.0,1.543784e+11,1.691153e+06,5.674221e+05,4.428370e+04,5.315784e+06,NaN,NaN
std,4.347591e+08,0.0,1.231851e+12,1.012614e+07,2.278955e+06,2.807071e+05,3.170753e+08,NaN,NaN
min,1.000045e+07,1.0,4.233000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
25%,1.571731e+08,1.0,5.071410e+05,3.197490e+05,0.000000e+00,0.000000e+00,1.368000e+03,NaN,NaN
50%,4.016997e+08,1.0,3.273039e+06,6.234750e+05,1.202581e+05,0.000000e+00,8.317000e+03,NaN,NaN
75%,9.268373e+08,1.0,5.413133e+06,1.120834e+06,3.980449e+05,0.000000e+00,6.683400e+04,NaN,NaN
max,1.719591e+09,1.0,1.000000e+13,2.099932e+08,5.538375e+07,4.376406e+06,2.513413e+10,NaN,NaN

In [121]:
# 전기, 가스, 지역냉난방 사용량 비교 (nan 값 제외)
electric_comparison = (pivot_df['E사용량 (kWh)_전기 (KWH)'] == pivot_df['USE_QTY_11']) & (pivot_df['USE_QTY_11'].notna())
gas_comparison = (pivot_df['E사용량 (kWh)_가스 (KWH)'] == pivot_df['USE_QTY_12']) & (pivot_df['USE_QTY_12'].notna())
district_comparison = (pivot_df['E사용량 (kWh)_지역냉난방 (KWH)'] == pivot_df['USE_QTY_13']) & (pivot_df['USE_QTY_13'].notna())

# 각 에너지별 일치/불일치 건수 계산
print('전기 사용량 비교 (USE_QTY_11이 있는 경우만):')
print(f'일치하는 건수: {electric_comparison.sum()}')
print(f'일치하지 않는 건수: {(~electric_comparison & pivot_df["USE_QTY_11"].notna()).sum()}')

print('\n가스 사용량 비교 (USE_QTY_12가 있는 경우만):')
print(f'일치하는 건수: {gas_comparison.sum()}')
print(f'일치하지 않는 건수: {(~gas_comparison & pivot_df["USE_QTY_12"].notna()).sum()}')

print('\n지역냉난방 사용량 비교 (USE_QTY_13이 있는 경우만):')
print(f'일치하는 건수: {district_comparison.sum()}')
print(f'일치하지 않는 건수: {(~district_comparison & pivot_df["USE_QTY_13"].notna()).sum()}')

# 일치하지 않는 케이스들의 예시 확인 (각 에너지별 처음 3개)
print('\n일치하지 않는 케이스 예시:')
print('\n전기 사용량 불일치 예시:')
print(pivot_df[~electric_comparison & pivot_df['USE_QTY_11'].notna()][['E사용량 (kWh)_전기 (KWH)', 'USE_QTY_11']].head(3))

print('\n가스 사용량 불일치 예시:')
print(pivot_df[~gas_comparison & pivot_df['USE_QTY_12'].notna()][['E사용량 (kWh)_가스 (KWH)', 'USE_QTY_12']].head(3))

print('\n지역냉난방 사용량 불일치 예시:')
print(pivot_df[~district_comparison & pivot_df['USE_QTY_13'].notna()][['E사용량 (kWh)_지역냉난방 (KWH)', 'USE_QTY_13']].head(3))

전기 사용량 비교 (USE_QTY_11이 있는 경우만):
일치하는 건수: 5
일치하지 않는 건수: 6680

가스 사용량 비교 (USE_QTY_12가 있는 경우만):
일치하는 건수: 36
일치하지 않는 건수: 2777

지역냉난방 사용량 비교 (USE_QTY_13이 있는 경우만):
일치하는 건수: 1
일치하지 않는 건수: 155

일치하지 않는 케이스 예시:

전기 사용량 불일치 예시:
ENGY_type  E사용량 (kWh)_전기 (KWH)  USE_QTY_11
1005                357318.444    437597.0
1006                357318.444       784.0
1007                357318.444       504.0

가스 사용량 불일치 예시:
ENGY_type  E사용량 (kWh)_가스 (KWH)   USE_QTY_12
51                1.377831e+06  1347362.716
52                1.377831e+06  8789747.884
53                1.377831e+06  7461830.000

지역냉난방 사용량 불일치 예시:
ENGY_type  E사용량 (kWh)_지역냉난방 (KWH)  USE_QTY_13
0                   415847.427460      491.16
1                   194127.570240   250280.00
2                   498261.633811      298.66

In [123]:
pivot_df['MGM_BLD_PK'].nunique()

1570